# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch	  # Triggers the workflow on push or pull request events but only for the master branch
  push:	
    branches: [ master ]	
  pull_request:	
    branches: [ master ]	


  # Allows you to run this workflow manually from the Actions tab	
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
          
      - name: FTP Deployment
        # You may pin to the exact commit or the version.
        # uses: airvzxf/ftp-deployment-action@9efe025c218094bd451a0cb684d7cb471f4d9d4f
        uses: airvzxf/ftp-deployment-action@latest
        with:
          # FTP Server.
          server: ${{ secrets.FTP_SERVER }}
          # FTP User.
          user:  ${{ secrets.FTP_USERNAME }}
          # FTP Password.
          password: ${{ secrets.FTP_PASSWORD }}
          # Local directory.
          local_dir: ./ # optional, default is ./
          # Remote directory.
          remote_dir: ./ # optional, default is ./
          # Delete all the files inside of the remote directory.
          delete: false # optional, default is false
          # Times that the lftp will be executed if an error occurred.
          max_retries: 10 # optional, default is 10
          # Do not create symbolic links.
          no_symlinks: true # optional, default is true
          # FTP - Allow SSL encryption.
          ftp_ssl_allow: false # optional, default is false
          # FTP - FEAT: Determining what extended features the FTP server supports.
          ftp_use_feat: false # optional, default is false
          # FTP - Delay in seconds between NOOP commands when downloading tail of a file.
          ftp_nop_interval: 2 # optional, default is 2
          # NET - Maximum number of operation without success. 0 unlimited. 1 no retries.
          net_max_retries: 1 # optional, default is 1
          # NET - Ignore hard errors. When reply 5xx errors or there is too many users.
          net_persist_retries: 5 # optional, default is 5
          # NET - Sets the network protocol timeout.
          net_timeout: 15s # optional, default is 15s
          # DNS - 0 no limit trying to lookup an address otherwise try only this number of times.
          dns_max_retries: 8 # optional, default is 8
          # DNS - Time for DNS queries. Set to "never" to disable.
          dns_fatal_timeout: 10s # optional, default is 10s
